body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}
/* Main content styling */
header {
    background-color: rgb(243, 243, 243);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}
header span {
    color: rgb(181, 4, 4); 
}
header button {
    background-color:  rgb(181, 4, 4);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
header button:hover {
    background-color:  rgb(255, 0, 0);
}
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Elemen di dalam formulir tetap vertikal */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px; /* Perlebar kotak formulir */
    max-width: 90%;
    margin: 0 auto; /* Pastikan kotak tetap rata tengah */
    height: auto; /* Hindari konflik dengan tinggi */
    padding: 40px; /* Tambahkan jarak internal lebih besar */
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input, 
.form-group select {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}
.form-group input:focus, 
.form-group select:focus {
    border-color: #a1c9c7;
    outline: none;
}
.form-actions {
    display: flex;
    justify-content: space-between;
}
.form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.form-actions .submit-btn {
    background-color: rgb(181, 4, 4);
    color: white;
}
.form-actions .submit-btn:hover {
    background-color: rgb(255, 0, 0);
}
.form-actions .reset-btn {
    background-color: #535252;
    color: white;
}
.form-actions .reset-btn:hover {
    background-color: #bbb;
}
a{
    text-decoration: none;
    color: white;
}