body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #ffffff;
}
/* Main content styling */
header {
    position: fixed;
    height:60px;
    width: 83vw;
    box-sizing: border-box;
    margin-left: 17vw;
    background-color: rgb(243, 243, 243);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .right {
    display: flex;
    align-items: center;
    gap: 15px;
}
header span {
    color: rgb(181, 4, 4); 
}

header button {
    background-color:  rgb(181, 4, 4);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
header button:hover {
    background-color:  rgb(255, 0, 0);
}

.main-content {
    flex: 1;
    margin-top: 80px;
    margin-left:17vw;
    display: flex;
    flex-direction: column;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.form-group input[type="radio"] {
    width: auto;
    margin-right: 10px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #a1c9c7;
    outline: none;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-actions button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.form-actions .save-btn {
    background-color: rgb(181, 4, 4);
    color: white;
}

.form-actions .save-btn:hover {
    background-color: rgb(255, 0, 0);
}

.form-actions .cancel-btn {
    background-color: #535252;
    color: white;
}

.form-actions .cancel-btn:hover {
    background-color: #bbb;
}

a{
    text-decoration: none;
    color: white;
}

.spesialisasi_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.spesialisasi_wrapper label{
    font-weight: normal;
    box-sizing: border-box;
    vertical-align:middle;
    margin-bottom: 0px;
}
.spesialisasi_wrapper input[type="checkbox"] {
    font-weight: normal;
    box-sizing: border-box;
    vertical-align:middle;
}

.spesialisasi_box{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.gender_wrapper{
    display: flex;
    margin: 5px;
}

.gender_wrapper label{
    font-weight: normal;
    margin-bottom: 0px;
}

/* Jadwal*/
/* Schedule Input Container */
.schedule-input {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

/* Input Group for Labels and Inputs */
.input-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Label Styling */
.input-group label {
    font-size: 12px;
    margin-bottom: 5px;
    color: #333;
}

/* Input Styling */
.input-group input {
    display: flex;
    align-items:end;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

/* Minus Button Styling */
.schedule-input img {
    cursor: pointer;
    width: 35px;
    height: 35px;
}

#plus-button{
    cursor: pointer;
    width: 35px;
    height: 35px;
}

input:disabled{
    background-color: #cdcdcd;
}


/*Disable input menit*/
input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-clear-button {
    display: none;
}