<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data Dokter</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Admin/halamanEdit_style.css}">
</head>
<body>
    <!-- Sidebar -->
    <th:block th:include="~{Admin/sidebar :: sidebarAdmin}"></th:block>

    <!-- Main Content -->
    <div class="main-content">
        <header>
            <span>Edit Data Dokter</span>
            <div class="right">
                <span>Hi, Admin</span>
                <a th:href="@{logout}"><button>Logout</button></a>
            </div>
        </header>

        <!-- Edit Form -->
        <div class="form-container">
            <h2>Formulir Edit Dokter</h2>
            <form id="editDoctorForm" th:action="@{/admin/editdokter}" th:method="post" enctype="multipart/form-data">
                <!-- Doctor ID -->
                <input type="hidden" name="id_user" th:value="${dokter.id_user}" />
                <input type="hidden" name="foto" th:value="${dokter.foto}" />

                <!-- Doctor Name -->
                <div class="form-group">
                    <label for="doctorName">Nama Dokter</label>
                    <input type="text" id="doctorName" name="nama" th:value="${dokter.nama}" required>
                </div>
            
                <!-- Doctor NIK -->
                <div class="form-group">
                    <label for="doctorNIK">NIK Dokter</label>
                    <input type="text" id="doctorNIK" name="nik" th:value="${dokter.nik}" required>
                </div>
            
                <!-- Doctor SIP -->
                <div class="form-group">
                    <label for="doctorSIP">SIP Dokter</label>
                    <input type="text" id="doctorSIP" name="sip" th:value="${dokter.sip}" required>
                </div>

                <!-- Doctor Photo -->
                <div class="form-group">
                    <label for="doctorPhoto">Foto Dokter</label>
                    <input type="file" id="dokterPhoto" name="doctorPhoto" accept="image/jpg, image/jpeg, image/png">
                    
                </div>
            
                <!-- Doctor Address -->
                <div class="form-group">
                    <label for="doctorAddress">Alamat</label>
                    <input type="text" id="doctorAddress" name="alamat" th:value="${dokter.alamat}" required>
                </div>
            
                <!-- Doctor Specialization (Checkboxes) -->
                <div class="form-group">
                    <label for="doctorSpecialization">Spesialis</label>
                    <div class="spesialisasi_wrapper">
                        <div class="spesialisasi_box"th:each="spesialisasi : ${spesialisasi_list}">
                            <label th:for="${spesialisasi}" th:text="${spesialisasi}"></label> <input type="checkbox" th:id="${spesialisasi}" th:name="specializations" 
                                th:value="${spesialisasi}" 
                                th:checked="${spesialisasi_dokter.contains(spesialisasi)}" />
                        </div>
                    </div>
                </div>
            
                <!-- Doctor Gender -->
                <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <div class="gender_wrapper">
                        <input type="radio" id="genderL" name="jenis_kelamin" value="L" th:field="${dokter.jenis_kelamin}">
                        <label for="genderL"> Laki-laki </label>
                    </div>
                    <div class="gender_wrapper">
                        <input type="radio" id="genderP" name="jenis_kelamin" value="P" th:field="${dokter.jenis_kelamin}">
                        <label for="genderP"> Perempuan </label>
                    </div>

                </div>
                
                <!-- Form Actions -->
                <div class="form-actions">
                    <button type="button" class="cancel-btn" th:onclick="'window.location.href=\'/admin/editdokter\''">Batal</button>
                    <button type="submit" class="save-btn">Simpan</button>
                </div>
            </form>
            
        </div>
        
    </div>
</body>
</html>
