<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Halaman Mendaftarkan Pasien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Admin/daftarPasien_style.css}">
</head>
<body>
    <!-- Sidebar -->
    <th:block th:insert="~{Admin/sidebar :: sidebarAdmin}"></th:block>

    <!-- Main Content -->
    <div class="main-content">
        <header>
            <span>Mendaftarkan Pasien</span>
            <div class="right">
                <span>Hi, Admin</span>
                <a th:href="@{/logout}"><button>Logout</button></a>
            </div>
        </header>

        <div class="form-container">
            <h2>Formulir Pendaftaran</h2>
            <form id="registerForm" onsubmit="return registerPasien(event);">
                <div class="form-group">
                    <label for="NIK">NIK</label>
                    <input type="text" id="NIK" name="NIK" placeholder="Masukkan NIK" maxlength="16" oninput="checkNik()" required>
                </div>
                
                <!--  -->
                <div class="form-group">
                    <label for="patientName">Nama Pasien</label>
                    <input type="text" id="patientName" name="patientName" placeholder="Masukkan nama pasien" required>
                </div>
                
                <div class="form-group">
                    <label for="patientDOB">Tanggal Lahir</label>
                    <input type="date" id="patientDOB" name="patientDOB" required>
                </div>
                <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <label>
                        <input type="radio" name="gender" value="L"> Laki-laki
                    </label>
                    <label>
                        <input type="radio" name="gender" value="P"> Perempuan
                    </label>
                </div>

                <!-- Filter By Date -->
                <div class="form-group">
                    <label for="tanggal">Pilih Tanggal</label>
                    <input type="date" id="tanggal" name="tanggal" onchange="filterDokter()" required>
                </div>

                <!-- Dropdown Dokter -->
                <div class="form-group">
                    <label for="dokter">Pilih Dokter</label>
                    <select id="dokter" name="dokter" onchange="filterSpesialisasi()" required>
                        <option value="">Pilih Dokter</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="spesialisasi">Pilih Spesialisasi</label>
                    <select id="spesialisasi" name="spesialisasi" onchange="filterJadwal()" required>
                        <option value="">Pilih Spesialisasi</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="jadwal">Pilih Jadwal</label>
                    <select id="jadwal" name="jadwal" required>
                        <option value="">Pilih Jadwal</option>
                    </select>
                </div>

                <div class="form-actions">
                    <button type="reset" class="reset-btn">Reset</button>
                    <button type="submit" class="submit-btn">Daftar</button>
                </div>
            </form>
        </div>
    </div>

    <script>  
        async function checkNik(){
            const nik = document.getElementById('NIK').value;

            if(nik.length === 16){
                try {
                    const response = await fetch(`/admin/check-nik?nik=${nik}`);

                    if (!response.ok) {
                        throw new Error('Pasien belum terdaftar');
                    }

                    const data = await response.json();

                    //isi data ke dalam form
                    document.getElementById('patientName').value = data.nama || '';
                    document.getElementById('patientDOB').value = data.tanggalLahir || '';
                    document.getElementsByName('gender').forEach(radio => {
                        if (radio.value === (data.jenisKelamin === 'L' ? 'L' : 'P')) {
                            radio.checked = true;
                        }
                    });
    
                } catch (error){
                    alert(error.message);
                }
            }
        }
      

        async function filterDokter() {
            const tanggal = document.getElementById("tanggal").value;
            if (!tanggal) return;
            
            try {
                const response = await fetch(`/admin/get-dokter?tanggal=${tanggal}`);
                if(!response.ok) {
                    throw new Error(`Failed to fetch dokter: ${response.status}`)
                }
                
                const dokter = await response.json();
                const dokterDropdown = document.getElementById("dokter");
                dokterDropdown.innerHTML = '<option value="">Pilih Dokter</option>';
                
                dokter.forEach(dokter => {
                    const option = document.createElement("option");
                    option.value = dokter;
                    option.text = dokter;
                    dokterDropdown.appendChild(option);
                });    
            } catch (error) {
                console.error("Error fetching dokter: ", error);   
            }
            
        }

        async function filterSpesialisasi() {
            const dokter = document.getElementById("dokter").value;
            if (!dokter) return;
            
            try{
                const response = await fetch(`/admin/get-spesialisasi?dokter=${dokter}`);
                if(!response.ok){
                    throw new Error(`Failed to fetch spesialisasi: @{response.status}`)
                }
                
                const spesialisasi = await response.json();
                const spesialisasiDropdown = document.getElementById("spesialisasi");
                spesialisasiDropdown.innerHTML = `<option value="">Pilih Spesialisasi</option>`;
                
                spesialisasi.forEach(spec => {
                    const option = document.createElement("option");
                    option.value = spec;
                    option.textContent = spec;
                    spesialisasiDropdown.appendChild(option);
                });
            } catch (error) {
                console.error("error fetching spesialisasi: ", error);
            }
            
        }

        async function filterJadwal() {
            const spesialisasi = document.getElementById("spesialisasi").value;
            if (!spesialisasi) return;

            try {
                const response = await fetch(`/admin/get-jadwal?spesialisasi=${spesialisasi}`);
                if(!response.ok){
                    throw new Error(`Failed to fetch jadwal: ${response.status}`);
                }

                const jadwal = await response.json();
                const jadwalDropdown = document.getElementById("jadwal");
                jadwalDropdown.innerHTML = '<option value="">Pilih Jadwal</option>';
                jadwal.forEach(jadwal => {
                    const option = document.createElement("option");
                    option.value = jadwal.idJadwal
                    option.textContent = `${jadwal.waktu_mulai} - ${jadwal.waktu_selesai}`;
                    jadwalDropdown.appendChild(option);
                });  
            } catch (error) {
                console.error("Error fetching jadwa: ", error);
            }
            
        }

        async function registerPasien(event) {
            event.preventDefault();

            const nik = document.getElementById('NIK').value;
            const idJadwal = document.getElementById('jadwal').value;

            if(!nik || !idJadwal){
                alert("Harap isi semua kolom.");
                return false;
            }

            try {
                const quotaResponse = await fetch(`/admin/check-quota?idJadwal=${idJadwal}`);
                const quotaData = await quotaResponse.json();

                if(!quotaResponse.ok){
                    throw new Error(quotaData.message);
                }

                if(quotaData.kuotaTerisi >= quotaData.kuotaMax){
                    alert("Kuota sudah penuh");
                    return false;
                }

                const response = await fetch('/admin/register-pasien', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    body: new URLSearchParams({ nik, idJadwal }),
                });

                const message = await response.text();
                if(response.ok){
                    alert(message);
                    document.getElementById('registerForm').reset();
                } else {
                    alert(message);
                }
            } catch (error) {
                alert("Terjadi kesalahan saat mendaftarkan pasien: " + error.message)
            }

            return false;
        }
    </script>

</body>
</html>
