<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Pasien</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Admin/listPasien.css}">
</head>

<body>
    <!-- Sidebar -->
    <th:block th:include="~{Admin/sidebar :: sidebarAdmin}"></th:block>

    <header>
        <span>Search Pasien</span>
        <div class="right">
            <span>Hi, Admin</span>
            <button th:href="@{logout}">Logout</button>
        </div>
    </header>
    <!-- Main Content -->
    <div class="main-content">

        <!-- Search bar -->
        <div class="search-bar">
            <form method="GET" th:action="@{/admin/list-pasien}" id="searchForm">
                <input type="hidden" name="tgl" th:value="${tgl}">
                <input type="text" name="namaPasien" id="searchInput" th:value="${namaPasien}"
                    placeholder="Cari nama pasien" onkeydown="checkKey(event, this.form)">

                <button onclick="this.form.submit()">Cari</button>
            </form>

        </div>

        <!-- Filter Tanggal -->
        <div class="tanggal-wrapper">
            <div class="filter-tanggal">
                <form method="GET" th:action="@{/admin/list-pasien}" id="filterForm">
                    <div class="tanggal">
                        <input type="date" name="tgl" th:value="${tgl}" onchange="this.form.submit()" />
                    </div>
                </form>
            </div>
        </div>

        <!-- Patient List -->
        <div class="patient-list" id="patientList">
            <!-- Patient cards will be displayed here -->
            <div class="patient-card" th:each="row : ${results}">
                <div class="patient-info">

                    <span th:text="${row.nama}"></span>
                    <p th:text="'Dokter: ' +${row.nama_dokter}"></p>
                    <p th:text="'Spesialisasi: ' + ${row.nama_spesialisasi} "></p>
                    <!-- <p th:text="'Tanggal: ' + ${row.tanggal}"></p> -->
                    <span th:text="${row.waktu_mulai} + ' - ' + ${row.waktu_selesai}"></span>
                    <p th:if="${row.status_bayar}">Status Pembayaran: Sudah Bayar</p>
                    <p th:if="${!row.status_bayar}">Status Pembayaran: Belum Bayar</p>
                    <p th:if="${row.status_daftar_ulang}">Sudah Daftar Ulang</p>
                    <p th:if="${!row.status_daftar_ulang}">Belum Daftar Ulang</p>
                    <p th:text="'No antrian: ' + ${row.no_antrian}"></p>
                </div>
                <div class="button-group">
                    <button class="status-btn" th:onclick="|bayar('${row.id_pendaftaran}');|"
                        th:disabled="${row.status_bayar}" th:classappend="${row.status_bayar} ? 'disabled' : ''">
                        Tandai Sudah Bayar
                    </button>
                    <button class="reregister-btn" th:onclick="|daftarUlang('${row.id_pendaftaran}');|"
                    th:disabled="${row.status_daftar_ulang}" th:classappend="${row.status_daftar_ulang} ? 'disabled' : ''">Daftar Ulang</button>

                </div>
            </div>
        </div>
    </div>

    <script>
        async function checkKey(event, form) {
            if (event.key === 'Enter') {
                event.preventDefault(); // Prevent the default form submission
                form.submit(); // Submit the form
                console.log("Function is called");
            }
        }


        async function bayar(id) {
            
            try {
                const response = await fetch(`/admin/check-id_pendaftaran?id=${id}`);
                if (!response.ok) {
                    console.error('Response status:', response.status);
                    throw new Error('Network response was not ok');
                }
                alert('Status pembayaran berhasil diganti'); // Or update the UI accordingly
                location.reload();
            }
            catch (error) {
                console.log("error");
                alert(`Error: ${error.message}`);
            }
        }

        async function daftarUlang(id) {
            
            try {
                const response = await fetch(`/admin/daftar-ulang?id=${id}`);
                if (!response.ok) {
                    console.error('Response status:', response.status);
                    throw new Error('Network response was not ok');
                }
                alert('Daftar ulang berhasil'); // Or update the UI accordingly
                location.reload();
            }
            catch (error) {
                console.log("error");
                alert(`Error: ${error.message}`);
            }
        }


    </script>
</body>

</html>