<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Akun Baru</title>
    <link rel="stylesheet" type="text/css" th:href="@{/Admin/buatAkunBaru_style.css}">
</head>

<body>
    <!-- Sidebar -->
    <th:block th:include="~{Admin/sidebar :: sidebarAdmin}"></th:block>

    <!-- Main Content -->
    <div class="main-content">
        <header>
            <span>Buat Akun Baru</span>
            <div class="right">
                <span>Hi, Admin</span>
                <a th:href="@{/logout}"><button>Logout</button></a>
            </div>
        </header>

        <!-- Error msg -->
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>

        <!-- Formulir Buat Akun -->
        <div class="form-container">
            <h2>Formulir Buat Akun</h2>
            <form id="createAccountForm" action="/admin/buatakun" method="post">
                <!-- Name -->
                <div class="form-group">
                    <label for="userName">Nama</label>
                    <input type="text" id="userName" name="nama" placeholder="Masukkan nama lengkap" required maxlength="100">
                </div>

                <!-- NIK -->
                <div class="form-group">
                    <label for="userNIK">NIK</label>
                    <input type="text" id="userNIK" name="nik" placeholder="Masukkan NIK" required minlength="16" maxlength="16">

                </div>

                <!-- Tempat Lahir -->
                <div class="form-group">
                    <label for="tempatLahir">Tempat Lahir</label>
                    <input type="text" id="tempatLahir" name="tempat_lahir" placeholder="Masukkan tempat lahir" required>
                </div>
                
                <!-- Tanggal Lahir -->
                <div class="form-group">
                    <label for="tanggalLahir">Tanggal Lahir</label>
                    <input type="date" id="tanggalLahir" name="tanggal_lahir" required>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email"><b>Email</b></label>
                    <input type="text" id="email" name="email" placeholder="Masukkan Email" required>
                </div>

                <!-- Address -->
                <div class="form-group">
                    <label for="userAddress">Alamat</label>
                    <input type="text" id="userAddress" name="alamat" placeholder="Masukkan alamat lengkap"
                        required>
                </div>

                <!-- Password -->
                <div class="form-group">
                    <label for="kata_sandi"><b>Kata Sandi</b></label>
                    <input type="password" id="kata_sandi" name="kata_sandi" placeholder="Masukkan kata sandi" required
                        minlength="6" maxlength="20">
                </div>


                <!-- Confirm Password -->
                <div class="form-group">
                    <label for="confpassword"><b>Ulangi Kata Sandi</b></label>
                    <input type="password" id="confpassword" name="confpassword"
                        placeholder="Masukkan kembali kata sandi" required>
                </div>

                <input type="hidden" name="statusAktif" value="true">

                <!-- Peran/Specialization -->
                <div class="form-group">
                    <!-- Kalo spesialis, peran = dokter terus tambahin spesialis-->
                    <label for="userRole">Peran</label>
                    <select id="userRole" name="peran">
                        <option value="Spesialis Jantung">Spesialis Jantung</option>
                        <option value="Spesialis Mata">Spesialis Mata</option>
                        <option value="Spesialis Gigi">Spesialis Gigi</option>
                        <option value="Spesialis THT">Spesialis THT</option>
                        <option value="Perawat">Perawat</option>
                        <option value="Admin">Admin</option>
                        <option value="Pasien">Pasien</option>
                    </select>
                </div>

                <!-- Gender -->
                <div class="form-group">
                    <label>Jenis Kelamin</label>
                    <label>
                        <input type="radio" name="jenis_kelamin" value="L" required> Laki-laki
                    </label>
                    <label>
                        <input type="radio" name="jenis_kelamin" value="P" required> Perempuan
                    </label>
                </div>



                <!-- Form Actions -->
                <div class="form-actions">
                    <button type="submit" class="save-btn">Simpan</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>