<html th:fragment="sidebarAdmin">
    <head>
        <link rel="stylesheet" type="text/css" th:href="@{/Admin/sidebar_style.css}">
    </head>
    <body>
        <!-- Sidebar -->
        <div class="sidebar">
            <a th:href="@{/admin/}"><img src="/assets/WomLinic Fix Logo.png" alt="Logo"></a>
            <a th:href="@{/admin/daftarpasien}" class="button"><button>Mendaftarkan Pasien</button></a>
            <a th:href="@{/admin/editdokter}"class="button"><button>Edit Data Dokter</button></a>
            <a th:href="@{/admin/buatakun}"class="button"><button>Buat Akun Baru</button></a>
            <a th:href="@{/admin/list-pasien}" class="button"><button>List Pasien</button></a>
        </div>
    </body>
</html>