<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WomLinic+</title>
    <link rel="stylesheet" type="text/css" th:href="@{/User/home_style.css}">
</head>
<body>
    <div class="header_container">
        <header>
            <img src="/assets/WomLinic Fix Logo.png" class="womlinic_logo" />
            <div class="login_wrapper">
                <a class="login" th:href="@{/login}">
                    <p>MASUK</p>
                </a>
            </div>
            <div class="register_wrapper">
                <a class="login" th:href="@{register}"><p>DAFTAR</p></a>
            </div>
        </header>
    </div>
    <div class="banner">
        <img src="/assets/—Pngtree—hospital inpatient room with bed_4090048.jpg" class="banner_image" />
        <div class="banner_texts">
            <div class="main_text">
                <p class="actual_text">Kesehatan Anda Adalah Prioritas Utama Kami</p>
            </div>
            <div class="smaller_text">
                <p>Klinik kesehatan terbaik di Wombatland</p>
            </div>
            <div class="booking_info">
                <span>Jadwalkan konsultasi sekarang</span>
                <img src="/assets/right arrow.png" class="arrow" />
                <div class="learn_more_button">
                     <a class="book_doctor" href="#specialist_section"><p>Pilih Dokter</p></a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="text_content">
            <div class="text_header">
                <h1>Langkah Awal Menuju Kesehatan</h1>
            </div>
            <div class="actual_text">
                <p>Pengobatan yang efektif bergantung kepada diagnosis yang tepat.
                    Ahli-ahli kami mendiagnosa dan menangani tantangan-tantangan medis terberat.
                </p>
                <p>WomLinic mendapat peringkat nomor 1 di antara berbagai klinik yang lain di Wombatland.</p>
            </div>
        </div>
        <div class="doctor_image_content">
            <div class="img_container">
                <img class="doctor_img" src="../assets/doctor-healthcare-medicine-patient-talking-600nw-2191880035.png" />
            </div>
        </div>
    </div>
    <div class="specialists_section_container" id="specialist_section">
        <div class="specialist_section_title">
            <h1>Pilih Spesialis yang Anda Butuhkan</h1>
        </div>
        <div class="specialist_main">
            <div class="specialist_choices">
                <a th:href="@{spesialisMata}" class="choice_of_specialist">
                    <div class="specialist">
                        <img class="specialist_choice_img" src="../assets/logo_mata_fix.png" />
                        <div class="specialist_name">
                            <p>Mata</p>
                        </div>
                    </div>
                </a>
                <a href="https://www.wikipedia.org/" class="choice_of_specialist">
                    <div class="specialist">
                        <img class="specialist_choice_img" src="../assets/logo_gigi-removebg-preview.png" />
                        <div class="specialist_name">
                            <p>Gigi</p>
                        </div>
                    </div>
                </a>
                <a href="https://www.wikipedia.org/" class="choice_of_specialist">
                    <div class="specialist">
                        <img class="specialist_choice_img" src="../assets/logo_tht-removebg-preview.png" />
                        <div class="specialist_name">
                            <p>THT</p>
                        </div>
                    </div>
                </a>
                <a href="https://www.wikipedia.org/" class="choice_of_specialist">
                    <div class="specialist">
                        <img class="specialist_choice_img" src="../assets/logo_jantung-removebg-preview.png" />
                        <div class="specialist_name">
                            <p>Jantung</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>
