<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to WomLinic+</title>
    <link rel="stylesheet" type="text/css" th:href="@{/User/login_style.css}">
    <script src="/scripts.js" defer></script>
</head>
<body>
    <a th:href="@{/user/}">
        <img src="/assets/Home.png" class="home_logo" />
    </a>
    <div class="wrapper">
        <form action="" class="login_form" method="post">
            <div class="login_container">
                <label for="email"><b>Email</b></label>
                <input type="text" name="email" required><br>
                <label for="password"><b>Kata Sandi</b></label>
                <input type="password" name="password" required><br>
                <button type="submit">Masuk</button> <br>
                <a href="forgot_password.html" class="forgot">
                    <span>Lupa kata sandi?</span>
                </a>
                <a th:href="@{register}" class="register">
                    <span>Daftar</span>
                </a>
            </div>
        </form>
    </div>

</body>
</html>